* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  border-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
} 

.navbar-item {
  font-family: Potta One;
  font-size: 35px;
  
}

#navbar {
  height:70px; 
}
.linkt{
  font-family: Potta One;
  font-size: 25px;
  color: black;
  align-content: center;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #ffe08a;
  color: rgb(50, 72, 99);
  padding: 23px;
  font-family: Potta One;
}

#lodgerbutton {
  font-family: Potta One;
  font-size: 35px;
  width:100%;
  height:100%;
  left: 26%;
}


#ownerbutton {
  font-family: Potta One;
  font-size: 35px;
  width:100%;
  height:100%;
  left: 13%;
}

/*後面都是原本的*/
/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/